<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="assets/images/virus.png" type="image/x-icon"/>

<title>COVID-19 DATA</title>
<meta name="title" content="COVID-19 DATA">
<meta name="description" content="Live statistics and coronavirus tracking the number of confirmed cases, recovered patients, tests, and death toll in the world due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases updates, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs and updates">
<meta name="keywords" content="coronavirus map,live map, Confirmed cases, recovered cases, new cases, death cases, fatility rate, comorbidity rate, Abhay, covid19, covid India, News, news, India Cases, India Corona Virus, Deaths, coronavirus,coronavirus update,coronavirus in usa,live,coronavirus dashboard,coronavirus update,usa coronavirus update,coronavirus cases,coronavirus us,coronavirus map,coronavirus tips,coronavirus vaccine,coronavirus symptoms,what is coronavirus,coronavirus china,wuhan coronavirus,covid 19 canada,covid 19 ontario,covid 19 alberta,covid 19 bc,region"/>

<meta property="og:type" content="website">
<meta property="og:url" content="https://covid19-tracker-abhay.herokuapp.com/">
<meta property="og:title" content="Covid Dashboard By Abhay Sardhara">
<meta property="og:description" content="Live stats and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and deaths due to the COVID-19 coronavirus from Wuhan, China, USA ,Canada, Ontario,Toronto. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates.">
 
<link rel="stylesheet" href="assets/css/bootstrap.min.css" defer>
<link rel="stylesheet" href="assets/css/jquery.dataTables.min.css" defer>
<link rel="stylesheet" href="assets/css/main.css" defer/>
<link rel="stylesheet" href="assets/css/theme1.css" defer/>
<link rel="stylesheet" href="assets/css/buttons.dataTables.min.css" defer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-icons@1.0.1/foundation-icons.css" defer>
<script data-ad-client="ca-pub-2399701684105400" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<style>
    .change {   
        background-color: wheat;
    }

    .dataTables_wrapper .dataTables_filter {
        color: black;
    }

    .text-green, .text-info, .text-success, .text-danger, .text-primary, .text-warning, .mail-star.active, .page-title {
        color: white !important;
    }

    div.container {
        display: flex;
        flex: auto;
        flex-direction: column;
        max-height: 550px;
    }

    div.item {
        display: flex;
        flex: auto;
        overflow-y: auto;
        padding: 0rem 1rem 0rem 1rem;
    }
    #timeline {
        position: relative;
        display: table;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
    }
    #timeline div:after {
        content: '';
        width: 2px;
        position: absolute;
        top: 0.5rem;
        bottom: 0rem;
        left: 60px;
        z-index: 1;
        background: #c5c5c5;
    }
    #timeline h3 {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        color: #888;
        margin: 0;
        font-size: 1em;
        font-weight: 400;
    }
    @media (min-width: 62em) {
        #timeline h3 {
            font-size: 1.1em;
        }
    }
    #timeline section.year {
        position: relative;
    }
    #timeline section.year:first-child section {
        margin-top: -1.3em;
        padding-bottom: 0px;
    }
    #timeline section.year section {
        position: relative;
        padding-bottom: 1.25em;
        margin-bottom: 2.2em;
    }
    #timeline section.year section h4 {
        position: absolute;
        bottom: 0;
        font-size: 0.9em;
        font-weight: 400;
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 89px;
        color: #c5c5c5;
    }
    @media (min-width: 62em) {
        #timeline section.year section h4 {
            font-size: 1em;
        }
    }
    #timeline section.year section ul {
        list-style-type: none;
        padding: 0 0 0 75px;
        margin: -1.35rem 0 1em;
        max-width: 32rem;
        font-size: 1em;
    }
    @media (min-width: 62em) {
        #timeline section.year section ul {
            font-size: 1.1em;
            padding: 0 0 0 81px;
        }
    }
    #timeline section.year section ul:last-child {
        margin-bottom: 0;
    }
    #timeline section.year section ul:first-of-type:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #c5c5c5;
        border: 2px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 54px;
        top: 3px;
        z-index: 2;
    }
    #timeline section.year section ul li {
        margin-left: 0.5rem;
    }
    #timeline section.year section ul li:before {
        content: '·';
        margin-left: -0.5rem;
        padding-right: 0.3rem;
    }
    #timeline section.year section ul li:not(:first-child) {
        margin-top: 0.5rem;
    }
    #timeline section.year section ul li span.price {
        color: mediumturquoise;
        font-weight: 500;
    }
</style>

</head>

{{!-- class = "offcanvas-active" --}}
<body class="font-roboto">


<!-- Page Loader -->
{{!-- <div class="page-loader-wrapper">
    <div class="loader"></div>
</div> --}}

<div id="main_content">

    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <a class="header-brand" href="/"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="image/virus.png" alt="" height="55%" width="55%"></a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="image/icon1.jpg" alt="" data-toggle="tooltip" data-placement="right" title="User Menu"/></a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fi-widget" data-toggle="tooltip" data-placement="right" title="Settings"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fi-list"></i></a>
                </div>            
            </div>
        </div>
    </div>

    <div id="rightsidebar" class="right_sidebar">
        <a href="javascript:void(0)" class="p-3 settingbar float-right"><i class="fi-x"></i></a>
        <div class="p-4">
            <div class="mb-4">
                <h6 class="font-14 font-weight-bold text-muted">Font Style</h6>
                <div class="custom-controls-stacked font_setting">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-opensans">
                        <span class="custom-control-label">Open Sans Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-montserrat">
                        <span class="custom-control-label">Montserrat Google Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-roboto" checked="">
                        <span class="custom-control-label">Robot Google Font</span>
                    </label>
                </div>
            </div>
            <hr>
            <div>
                <h6 class="font-14 font-weight-bold mt-4 text-muted">General Settings</h6>
                <ul class="setting-list list-unstyled mt-1 setting_switch">
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Night Mode</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-darkmode">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Fix Navbar top</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-fixnavbar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Header Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-pageheader" checked="">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Min Sidebar Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-min_sidebar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Sidebar Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-sidebar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Icon Color</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-iconcolor">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Gradient Color</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-gradient">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Box Shadow</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxshadow">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">RTL Support</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-rtl">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Box Layout</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxlayout">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="user_div">
        <h5 class="brand-name mb-4">COVID-19<a href="javascript:void(0)" class="user_btn"><i class="fi-x"></i></a></h5>
        <div class="card-body">
            <a href="https://github.com/Abhaysardhara"><img class="card-profile-img" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="image/icon1.jpg" alt=""></a>
            <h6 class="mb-0">Abhay Sardhara</h6>
            <span>abhays7675@gmail.com</span>
            <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-orange" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-indigo" role="progressbar" style="width: 13%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {{!-- <h6 class="text-uppercase font-10 mt-1">Performance Score</h6> --}}
            <hr>
            <p>Activity</p>
            <ul class="new_timeline">
                <li>
                    <div class="bullet pink"></div>
                    <div class="time">09:00am</div>
                    <div class="desc">
                        <h3>Attendance</h3>
                        <h4>College Class</h4>
                    </div>
                </li>
                <li>
                    <div class="bullet pink"></div>
                    <div class="time">04:00pm</div>
                    <div class="desc">
                        <h3>Added an interest</h3>
                        <h4>“Competitive Programming”</h4>
                    </div>
                </li>
                <li>
                    <div class="bullet green"></div>
                    <div class="time">06:30pm</div>
                    <div class="desc">
                        <h3>Developer Team</h3>
                        <h4>Hangouts</h4>
                        <ul class="list-unstyled team-info margin-0 p-t-5">                                            
                            <li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="image/icon1.jpg" alt="Avatar"></li>                                           
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bullet green"></div>
                    <div class="time">09:00pm</div>
                    <div class="desc">
                        <h3>Finish</h3>
                        <h4>Family Time</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="left-sidebar" class="sidebar ">
        <h5 class="brand-name">COVID-19 <a href="javascript:void(0)" class="menu_option float-right"><i class="fi-thumbnails toggle" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading">Project</li>
                <li class="active"><a href="/"><svg width="18" height="18" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M384 1152q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm192-448q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm428 481l101-382q6-26-7.5-48.5t-38.5-29.5-48 6.5-30 39.5l-101 382q-60 5-107 43.5t-63 98.5q-20 77 20 146t117 89 146-20 89-117q16-60-6-117t-72-91zm660-33q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm-640-640q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm448 192q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm320 448q0 261-141 483-19 29-54 29h-1402q-35 0-54-29-141-221-141-483 0-182 71-348t191-286 286-191 348-71 348 71 286 191 191 286 71 348z"/></svg><span style="margin-left: 13px;">Dashboard</span></a></li>                        
                <li class="g_heading">App</li>
                <li><a href="/india"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="image/india.png" alt="India" style="margin-right: 13px;"><span>India</span></a></li>
                <li><a href="/chart"><svg width="18" height="18" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M2048 1536v128h-2048v-1536h128v1408h1920zm-384-1024l256 896h-1664v-576l448-576 576 576z"/></svg><span style="margin-left: 13px;">Charts</span></a></li>
                <li><a href="/news"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" id="entypo-globe" width="18" height="18" fill="currentColor"><g><path d="M10 .4C4.705.4.399 4.707.399 10c0 5.293 4.306 9.6 9.601 9.6 5.293 0 9.6-4.307 9.6-9.6 0-5.293-4.307-9.6-9.6-9.6zm8.188 9.6c0 1.873-.636 3.6-1.696 4.98-.3-.234-.619-.867-.319-1.523.303-.66.382-2.188.312-2.783-.066-.594-.375-2.025-1.214-2.039-.838-.012-1.413-.289-1.911-1.283-1.033-2.068 1.939-2.465.906-3.609-.289-.322-1.783 1.322-2.002-.869-.014-.157.135-.392.336-.636 3.244 1.09 5.588 4.157 5.588 7.762zM8.875 1.893c-.196.382-.713.537-1.027.824-.684.619-.978.533-1.346 1.127-.371.594-1.567 1.449-1.567 1.879s.604.936.906.838c.302-.1 1.099-.094 1.567.07.469.166 3.914.332 2.816 3.244-.348.926-1.873.77-2.279 2.303-.061.225-.272 1.186-.285 1.5-.025.486.344 2.318-.125 2.318-.471 0-1.738-1.639-1.738-1.936 0-.297-.328-1.338-.328-2.23 0-.891-1.518-.877-1.518-2.062 0-1.068.823-1.6.638-2.113-.181-.51-1.627-.527-2.23-.59a8.213 8.213 0 0 1 6.516-5.172zM7.424 17.77c.492-.26.542-.596.988-.613.51-.023.925-.199 1.5-.326.51-.111 1.423-.629 2.226-.695.678-.055 2.015.035 2.375.689a8.159 8.159 0 0 1-7.089.945z"/></g></svg><span style="margin-left: 13px;">Civic Freedom Tracker</span></a></li>
                
                <li class="g_heading">Support</li>
                <li><a href="/contactus"><svg width="18" height="18" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1265 1238q0-57-5.5-107t-21-100.5-39.5-86-64-58-91-22.5q-6 4-33.5 20.5t-42.5 24.5-40.5 20-49 17-46.5 5-46.5-5-49-17-40.5-20-42.5-24.5-33.5-20.5q-51 0-91 22.5t-64 58-39.5 86-21 100.5-5.5 107q0 73 42 121.5t103 48.5h576q61 0 103-48.5t42-121.5zm-173-594q0-108-76.5-184t-183.5-76-183.5 76-76.5 184q0 107 76.5 183t183.5 76 183.5-76 76.5-183zm636 540v192q0 14-9 23t-23 9h-96v224q0 66-47 113t-113 47h-1216q-66 0-113-47t-47-113v-1472q0-66 47-113t113-47h1216q66 0 113 47t47 113v224h96q14 0 23 9t9 23v192q0 14-9 23t-23 9h-96v128h96q14 0 23 9t9 23v192q0 14-9 23t-23 9h-96v128h96q14 0 23 9t9 23z"/></svg><span style="margin-left: 13px;">Contact Us</span></a></li>
                <li><a href="/privacy"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-book-lock" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M18,2H12V9L9.5,7.5L7,9V2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V4A2,2 0 0,0 18,2M18,20H10V16H11V15A3,3 0 0,1 14,12A3,3 0 0,1 17,15V16H18V20M15,15V16H13V15A1,1 0 0,1 14,14A1,1 0 0,1 15,15Z"/></svg><span style="margin-left: 13px;">Privacy Policy</span></a></li>
            </ul>
        </nav>        
    </div>

    <div class="page">
        <div id="page_top" class="section-body top_dark">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fi-list" style="color: white; font-size: large"></i></a>
                        <h1 class="page-title" style="color: rgb(255, 255, 255);">Dashboard</h1>                        
                    </div>
                    <div class="right">
                        <div class="notification d-flex">
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fi-megaphone"></i><span class="badge badge-primary nav-unread"></span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <ul class="list-unstyled feeds_widget">
                                        <li>
                                            <div class="feeds-left"><i class="fi-check"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title text-danger">No new notification<small class="float-right text-muted"></small></h4>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <small>Measure How Corona Virus Spreading In World. <a href="https://www.who.int/" target="_blank">Learn More</a></small>
                        </div>                        
                    </div>
                </div>

                <center>
                    <div class="row">
                        <div class="col">
                            <b><span id="date" class="col-lg-6 col-6"></span></b>
                            <span id="time" class="col-lg-6 col-6"></span>
                        </div>
                    </div>
                </center><br>
                
                <div class="mb-4">
                    <div class="row clearfix row-deck">
                        <div class="col-lg-3 col-6 mb-2">
                            <div class="card border-danger" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                                <div class="card-header" style="background-color: rgb(255, 110, 142);">
                                    <h3 class="card-title"><b>Confirmed</b></h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="number mb-0 font-23">{{main.0.TotalCases}}  <span style="color: rgb(255, 107, 138); font-size: 18px">{{main.0.NewCases}}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-2">
                            <div class="card border-success" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);"> 
                                <div class="card-header" style="background-color: rgb(127, 203, 144);">
                                    <h3 class="card-title"><b>Recovered</b></h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="number mb-0 font-23" style="color: rgb(127, 203, 144);">{{main.0.TotalRecovered}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-2">
                            <div class="card border-info" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                                <div class="card-header" style="background-color: rgb(168, 173, 178);">
                                    <h3 class="card-title"><b>Deceased</b></h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="number mb-0 font-23">{{main.0.TotalDeaths}}  <span style="color: rgb(168, 173, 178); font-size: 18px">{{main.0.NewDeaths}}</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-2">
                            <div class="card border-warning" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                                <div class="card-header" style="background-color: #F39C12;">
                                    <h3 class="card-title"><b>Death Rate</b></h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="number mb-0 font-23">{{main.0.DeathRate}}</h5> out of 1 Million Population 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row clearfix row-deck">
                    <div class="col-xl-12 col-lg-12 mb-2">
                        <div class="card mb-4" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #283041;">
                                <h3 class="card-title" style="color: white; font-weight: 500;">World Wide Case Analysis</h3>
                            </div>
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between">
                                    <div class="table-responsive">
                                        <table id="example" class="table table-striped table-bordered" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>TotalCases</th>
                                                    <th>TotalDeaths</th>
                                                    <th>Recovered</th>
                                                    <th>ActiveCases</th>
                                                    <th>TotalTests</th>
                                                    <th>DeathRate/1M_POP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each main}}
                                                    <tr>
                                                        <th style="font-weight: 1000;">{{this.Country}}</th>
                                                        <td>{{this.TotalCases}} <p></p><span style="color: green;">{{this.NewCases}}</span></td>
                                                        <td>{{this.TotalDeaths}} <p></p><span style="color: red;">{{this.NewDeaths}}</span></td>
                                                        <td>{{this.TotalRecovered}}</td>
                                                        <td>{{this.ActiveCases}}</td>
                                                        <td>{{this.TotalTests}}</td>
                                                        <td>{{this.DeathRate}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </div>

                    {{!-- News From DailyHunt --}}
                    <div class="col-12 col-sm-12 mb-2">
                        <div class="card" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #283041;">
                                <h3 class="card-title" style="color: white; font-weight: 500;">Latest News</h3>
                            </div>
                            <div class="card-body" style="height: 900px; overflow-y:scroll;">
                                {{#each cont}}
                                    <div id="news-{{@index}}" style="height: 90px; left: 0px; position: relative; top: 0px; width: 100%;">
                                        <div style="float: left; padding-right: 10px">
                                            <a href="{{this.uri}}" target="_blank">
                                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{this.img}}" alt="" style="width: 80px; height: 80px;">
                                            </a>
                                        </div>
                                        <div>
                                            <div style="font-size: 12px; margin-bottom: 5px">
                                                {{#if this.type_given}}
                                                    <p style="float: left; color: red; margin-right: 10px">{{this.type}}</p>
                                                {{/if}}
                                                <p>{{formatNewsTime time 'DD MMMM YYYY, hh:mm:ss a'}}</p>
                                            </div>

                                            <div style="position: inherit;">
                                                <a href="{{this.uri}}" target="_blank" style="color: black"><p style="height: 60px; max-height: 60px; overflow: hidden; line-height: 1.4em; font-size: 14px">{{this.title}}</p></a>
                                            </div>
                                        </div>
                                    </div><hr>
                                {{/each}}
                            </div>
                            <div class="card-footer">
                                <center><a href="https://m.dailyhunt.in/news/india/english/corona+virus-topics-26732" target="_blank" class="btn btn-outline-success">Read More</a></center>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="card" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #283041;">
                                <h3 class="card-title" style="color: white; font-weight: 500;">Live Case Updates</h3>
                            </div>
                            <div class="card-body" style="height: 550px; overflow-y:scroll;">
                                <div class="container">
                                    <div class="item">
                                        <div id="timeline">
                                            <div>
                                                {{#each update}}
                                                <section class="year">
                                                    {{#if (check this.timestamp)}}
                                                    <h3 style="color: red; font-weight: bolder">{{getDayMonth this.timestamp 'D MMM'}}</h3>
                                                    {{else}}
                                                    <h3>{{getDayMonth this.timestamp 'D MMM'}}</h3>
                                                    {{/if}}
                                                    <section>
                                                        <ul>
                                                        <li><span style="font-weight: bold;">{{this.update}}</span></li>
                                                        <li><span style="color: #888; font-weight: 400; font-size: small;">{{getTime this.timestamp}}</span></li>
                                                        </ul>
                                                    </section>
                                                </section>     
                                                {{/each}}                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                        <div class="card" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #283041;">
                                <h3 class="card-title" style="color: white; font-weight: 500;">Local and health authorities on Twitter</h3>
                            </div>
                            <div class="card-body" style="height: 550px; overflow-y:scroll;">
                                <a class="twitter-timeline" href="https://twitter.com/MoHFW_INDIA?ref_src=twsrc%5Etfw">Tweets by MoHFW_INDIA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 mb-2">
                        <div class="card mb-4" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #283041;">
                                <h3 class="card-title" style="color: white; font-weight: 500;">Age of Coronavirus Deaths - COVID-19 Fatality Rate by AGE</h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <div>
                                        <table class="table table-responsive table-striped table-bordered" style="width : max-content;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bolder;">Age</th>
                                                    <th style="font-weight: bolder;">Fatality Rate</th>
                                                </tr>   
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td>0 - 17 years old</td>
                                                        <td>0.06%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>18 - 44 years old</td>
                                                        <td>3.9%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>45 - 64 years old</td>
                                                        <td>22.4%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>65 - 74 years old</td>
                                                        <td>24.9%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>75+ years old</td>
                                                        <td>48.7%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>TOTAL</td>
                                                        <td>100%</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </center>
                            </div>
                        </div>                
                    </div>
                    <div class="col-xl-6 col-lg-6 mb-2">
                        <div class="card mb-4" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #283041;">
                                <h3 class="card-title" style="color: white; font-weight: 500;">COVID-19 Fatality Rate by COMORBIDITY</h3>
                            </div>
                            <div class="card-body">
                                <div>
                                    <br>
                                    <h3 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">Death Rate = (number of deaths / number of cases)</h3 ><br>
                                    <h3 class="card-subtitle mb-2 text-muted"><center><b>Older Statistics</b></center></h3>
                                    <table class="table table-responsive table-striped table-bordered" style="width : auto;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bolder;">PRE EXISTING CONDITION</th>
                                                <th style="font-weight: bolder;">DEATH RATE Confirmed Cases</th>
                                                <th style="font-weight: bolder;">DEATH RATE All Cases</th>
                                            </tr>   
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cardiovascular disease</td>
                                                <td>13.2%</td>
                                                <td>10.5%</td>
                                            </tr>
                                            <tr>
                                                <td>Diabetes</td>
                                                <td>9.2%</td>
                                                <td>7.3%</td>
                                            </tr>
                                            <tr>
                                                <td>Chronic respiratory disease</td>
                                                <td>8.0%</td>
                                                <td>6.3%</td>
                                            </tr>
                                            <tr>
                                                <td>Hypertension</td>
                                                <td>8.4%</td>
                                                <td>6.0%</td>
                                            </tr>
                                            <tr>
                                                <td>Cancer</td>
                                                <td>7.6%</td>
                                                <td>5.6%</td>
                                            </tr>
                                            <tr>
                                                <td>no pre-existing conditions</td>
                                                <td></td>
                                                <td>0.9%</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section-body">
            <div class="container-fluid">    
                <div class="row clearfix">
                    <div class="col-12 col-sm-12 mb-3">
                        <div class="card" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);">
                            <div class="card-header" style="background-color: #283041;">
                                <h3 class="card-title" style="color: white; font-weight: 500;">Situation Reports By WHO (World Health Organization)</h3>
                            </div>
                            <div class="card-body" style="height: 300px; overflow-y:scroll;">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-vcenter mb-0">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bolder;">#</th>
                                                <th style="font-weight: bolder;">Date</th>
                                                <th style="font-weight: bolder;">Download Pdf</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each report}}
                                                <tr>
                                                    <td>{{this.report}}</td>
                                                    <td>{{this.date}}</td>
                                                    <td>
                                                        <a href="{{this.pdf}}" target="_blank"><i class="fi-page-pdf" aria-hidden="true" style="font-size: 20px; margin-right: 8px"></i>
                                                            {{#if this.new}}
                                                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="image/new.gif" alt="New Report" height="20px" width="33px">
                                                            {{/if}}
                                                        </a>
                                                    </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-body">
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <a href="https://www.instagram.com/_abhay_sardhara_/" target="_blank"><i class="fi-social-instagram" style="font-size: 35px;" title="Instagram"></i></a>&nbsp;&nbsp;
                            <a href="https://www.facebook.com/abhay.sardhara.52" target="_blank"><i class="fi-social-facebook" style="font-size: 35px;" title="Facebook"></i></a>&nbsp;&nbsp;
                            <a href="https://github.com/Abhaysardhara" target="_blank"><i class="fi-social-github" style="font-size: 35px;" title="Github"></i></a>&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/abhaysardhara7675/" target="_blank"><i class="fi-social-linkedin" style="font-size: 35px;" title="Linkein"></i></a>
                        </div>
                        <div class="col-lg-6 col-12">
                            <p style="font-weight: bolder; font-size: 15px;">MADE BY ABHAY SARDHARA</p>
                        </div>
                        <div id="temp"></div>
                    </div>
                </div>
            </footer>
        </div>
    </div>    
</div>

<script src="assets/js/utility.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="assets/bundles/lib.vendor.bundle.js"></script>
<script src="assets/js/core.js"></script>
<script src="assets/js/notification/user_data.js"></script>
<script src="assets/js/utility_pre.js"></script>
</body>
</html>