<!doctype html>
<html lang="en" dir="ltr">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="image/virus.png" type="image/x-icon"/>

<title>World News</title>
<meta name="title" content="COVID-19 DATA">
<meta name="description" content="Live statistics and coronavirus tracking the number of confirmed cases, recovered patients, tests, and death toll in the world due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases updates, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs and updates">
<meta name="keywords" content="coronavirus map,live map,coronavirus,coronavirus update,coronavirus in usa,live,coronavirus dashboard,coronavirus update,usa coronavirus update,coronavirus cases,coronavirus us,coronavirus map,coronavirus tips,coronavirus vaccine,coronavirus symptoms,what is coronavirus,coronavirus china,wuhan coronavirus,covid 19 canada,covid 19 ontario,covid 19 alberta,covid 19 bc,covid 19 waterloo region"/>

<meta property="og:type" content="website">
<meta property="og:url" content="http://abhay-covid19.herokuapp.com">
<meta property="og:title" content="Coronavirus updates - Live covid19 counter">
<meta property="og:description" content="Live stats and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and deaths due to the COVID-19 coronavirus from Wuhan, China, USA ,Canada, Ontario,Toronto. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates.">

<!-- Core css -->
<link defer rel="stylesheet" href="assets/css/main.css"/>
<link defer rel="stylesheet" href="assets/css/theme1.css"/>
<link defer rel="stylesheet" href="assets/css/bootstrap.min.css">
<link defer rel="stylesheet" href="assets/css/jquery.dataTables.min.css">

<script src="assets/js/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-icons@1.0.1/foundation-icons.css" defer>

<style>
    .change {
        background-color: wheat;
    }

    .dataTables_wrapper .dataTables_filter {
        color: black;
    }

    .text-green, .text-info, .text-success, .text-danger, .text-primary, .text-warning, .mail-star.active, .page-title {
        color: white !important;
    }

    td.details-control {
        background: url('../resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('../resources/details_close.png') no-repeat center center;
    }

    .news-header {
        background-color: gainsboro;
    }

    
    #button {
        display: inline-block;
        background-color: #FF9800;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, 
            opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }
    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }
    #button:hover {
        cursor: pointer;
        background-color: #333;
    }
    #button:active {
        background-color: #555;
    }
    #button.show {
        opacity: 1;
        visibility: visible;
    }

    #scrolltop {
        display: none;
    }

    #rocketmeluncur {
        position: fixed;
        bottom: 50px;
        z-index: 7;
        display: none;
        visibility: hidden;
        width: 26px;
        height: 48px;
        right: 25px;
        background: url(https://3.bp.blogspot.com/-GZOBULN1Q4s/VbNxQrf37EI/AAAAAAAAAPk/rak337seJ70/s1600/Ask.png) no-repeat 50% 0;
        opacity: 0;
        -webkit-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        -moz-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
        transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }

    #rocketmeluncur i {
        display: block;
        margin-top: 48px;
        height: 14px;
        background: url(https://1.bp.blogspot.com/-UR9I7YEuEUY/VXIJn8MrBPI/AAAAAAAAKRE/qZObHBd5zIo/s1600/rocket.png) no-repeat 50% -48px;
        opacity: .5;
        -webkit-transition: -webkit-transform .2s;
        -moz-transition: -moz-transform .2s;
        transition: transform .2s;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        transform-origin: 50% 0
    }

    #rocketmeluncur:hover {
        background-position: 50% -62px
    }

    #rocketmeluncur:hover i {
        background-position: 50% 100%;
        -webkit-animation: flaming .7s infinite;
        -moz-animation: flaming .7s infinite;
        animation: flaming .7s infinite
    }

    #rocketmeluncur.showrocket {
        visibility: visible;
        opacity: 1
    }

    #rocketmeluncur.launchrocket {
        background-position: 50% -62px;
        opacity: 0;
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        transform: translateY(-800px);
        pointer-events: none
    }

    #rocketmeluncur.launchrocket i {
        background-position: 50% 100%;
        -webkit-transform: scale(1.4, 3.2);
        -moz-transform: scale(1.4, 3.2);
        transform: scale(1.4, 3.2)
    }
</style>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KP4WHLQ');</script>
<!-- End Google Tag Manager -->

</head>

<body class="font-roboto">

<!-- Page Loader -->
{{!-- <div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div> --}}

<div id="main_content">

    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <a class="header-brand" href="/"><img src="image/virus_small.jpg" alt="Covid19-Tracker Abhay Sardhara, MNNIT Allahabad" height="100%" width="100%"></a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar" src="image/icon1.jpg" alt="" data-toggle="tooltip" data-placement="right" title="User Menu"/></a>                  
                    <a href="app-calendar"  class="nav-link icon app_inbox xs-hide"><i class="fi-calendar"></i></a>
                </div>
            </div>
            <div class="hright">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fi-widget" data-toggle="tooltip" data-placement="right" title="Settings"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fi-list"></i></a>
                </div>            
            </div>
        </div>
    </div>

    <div id="rightsidebar" class="right_sidebar">
        <a href="javascript:void(0)" class="p-3 settingbar float-right"><i class="fi-x"></i></a>
        <div class="p-4">
            <div class="mb-4">
                <h6 class="font-14 font-weight-bold text-muted">Font Style</h6>
                <div class="custom-controls-stacked font_setting">
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-opensans">
                        <span class="custom-control-label">Open Sans Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-montserrat" checked="">
                        <span class="custom-control-label">Montserrat Google Font</span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" name="font" value="font-roboto">
                        <span class="custom-control-label">Robot Google Font</span>
                    </label>
                </div>
            </div>
            <hr>
            <div>
                <h6 class="font-14 font-weight-bold mt-4 text-muted">General Settings</h6>
                <ul class="setting-list list-unstyled mt-1 setting_switch">
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Night Mode</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-darkmode">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Fix Navbar top</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-fixnavbar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Header Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-pageheader" checked="">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Min Sidebar Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-min_sidebar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Sidebar Dark</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-sidebar">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Icon Color</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-iconcolor">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Gradient Color</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-gradient">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Box Shadow</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxshadow">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">RTL Support</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-rtl">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-switch">
                            <span class="custom-switch-description">Box Layout</span>
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxlayout">
                            <span class="custom-switch-indicator"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="user_div">
        <h5 class="brand-name mb-4">COVID-19<a href="javascript:void(0)" class="user_btn"><i class="fi-x"></i></a></h5>
        <div class="card-body">
            <a href="https://github.com/Abhaysardhara"><img class="card-profile-img" src="image/icon1.jpg" alt=""></a>
            <h6 class="mb-0">Abhay Sardhara</h6>
            <span>abhays7675@gmail.com</span>
            <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-orange" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-indigo" role="progressbar" style="width: 13%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {{!-- <h6 class="text-uppercase font-10 mt-1">Performance Score</h6> --}}
            <hr>
            <p>Activity</p>
            <ul class="new_timeline">
                <li>
                    <div class="bullet pink"></div>
                    <div class="time">09:00am</div>
                    <div class="desc">
                        <h3>Attendance</h3>
                        <h4>College Class</h4>
                    </div>
                </li>
                <li>
                    <div class="bullet pink"></div>
                    <div class="time">04:00pm</div>
                    <div class="desc">
                        <h3>Added an interest</h3>
                        <h4>“Competitive Programming”</h4>
                    </div>
                </li>
                <li>
                    <div class="bullet green"></div>
                    <div class="time">06:30pm</div>
                    <div class="desc">
                        <h3>Developer Team</h3>
                        <h4>Hangouts</h4>
                        <ul class="list-unstyled team-info margin-0 p-t-5">                                            
                            <li><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="image/icon1_small.jpg" alt="Avatar"></li>                                           
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="bullet green"></div>
                    <div class="time">09:00pm</div>
                    <div class="desc">
                        <h3>Finish</h3>
                        <h4>Family Time</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="left-sidebar" class="sidebar ">
        <h5 class="brand-name">COVID-19 <a href="javascript:void(0)" class="menu_option float-right"><i class="fi-thumbnails toggle" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading">Project</li>
                <li><a href="/"><svg width="18" height="18" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M384 1152q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm192-448q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm428 481l101-382q6-26-7.5-48.5t-38.5-29.5-48 6.5-30 39.5l-101 382q-60 5-107 43.5t-63 98.5q-20 77 20 146t117 89 146-20 89-117q16-60-6-117t-72-91zm660-33q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm-640-640q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm448 192q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm320 448q0 261-141 483-19 29-54 29h-1402q-35 0-54-29-141-221-141-483 0-182 71-348t191-286 286-191 348-71 348 71 286 191 191 286 71 348z"/></svg><span style="margin-left: 13px;">Dashboard</span></a></li>                        
                <li class="g_heading">App</li>
                <li><a href="/india"><i class="fi-flag" style="font-size: 21px;"></i><span>India</span></a></li>
                <li><a href="/chart"><svg width="18" height="18" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M2048 1536v128h-2048v-1536h128v1408h1920zm-384-1024l256 896h-1664v-576l448-576 576 576z"/></svg><span style="margin-left: 13px;">Charts</span></a></li>
                <li class="active"><a href="/news"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" id="entypo-globe" width="18" height="18" fill="currentColor"><g><path d="M10 .4C4.705.4.399 4.707.399 10c0 5.293 4.306 9.6 9.601 9.6 5.293 0 9.6-4.307 9.6-9.6 0-5.293-4.307-9.6-9.6-9.6zm8.188 9.6c0 1.873-.636 3.6-1.696 4.98-.3-.234-.619-.867-.319-1.523.303-.66.382-2.188.312-2.783-.066-.594-.375-2.025-1.214-2.039-.838-.012-1.413-.289-1.911-1.283-1.033-2.068 1.939-2.465.906-3.609-.289-.322-1.783 1.322-2.002-.869-.014-.157.135-.392.336-.636 3.244 1.09 5.588 4.157 5.588 7.762zM8.875 1.893c-.196.382-.713.537-1.027.824-.684.619-.978.533-1.346 1.127-.371.594-1.567 1.449-1.567 1.879s.604.936.906.838c.302-.1 1.099-.094 1.567.07.469.166 3.914.332 2.816 3.244-.348.926-1.873.77-2.279 2.303-.061.225-.272 1.186-.285 1.5-.025.486.344 2.318-.125 2.318-.471 0-1.738-1.639-1.738-1.936 0-.297-.328-1.338-.328-2.23 0-.891-1.518-.877-1.518-2.062 0-1.068.823-1.6.638-2.113-.181-.51-1.627-.527-2.23-.59a8.213 8.213 0 0 1 6.516-5.172zM7.424 17.77c.492-.26.542-.596.988-.613.51-.023.925-.199 1.5-.326.51-.111 1.423-.629 2.226-.695.678-.055 2.015.035 2.375.689a8.159 8.159 0 0 1-7.089.945z"/></g></svg><span style="margin-left: 13px;">Civic Freedom Tracker</span></a></li>
                
                <li class="g_heading">Support</li>
                <li><a href="/contactus"><svg width="18" height="18" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1265 1238q0-57-5.5-107t-21-100.5-39.5-86-64-58-91-22.5q-6 4-33.5 20.5t-42.5 24.5-40.5 20-49 17-46.5 5-46.5-5-49-17-40.5-20-42.5-24.5-33.5-20.5q-51 0-91 22.5t-64 58-39.5 86-21 100.5-5.5 107q0 73 42 121.5t103 48.5h576q61 0 103-48.5t42-121.5zm-173-594q0-108-76.5-184t-183.5-76-183.5 76-76.5 184q0 107 76.5 183t183.5 76 183.5-76 76.5-183zm636 540v192q0 14-9 23t-23 9h-96v224q0 66-47 113t-113 47h-1216q-66 0-113-47t-47-113v-1472q0-66 47-113t113-47h1216q66 0 113 47t47 113v224h96q14 0 23 9t9 23v192q0 14-9 23t-23 9h-96v128h96q14 0 23 9t9 23v192q0 14-9 23t-23 9h-96v128h96q14 0 23 9t9 23z"/></svg><span style="margin-left: 13px;">Contact Us</span></a></li>
                <li><a href="/privacy"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-book-lock" width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M18,2H12V9L9.5,7.5L7,9V2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V4A2,2 0 0,0 18,2M18,20H10V16H11V15A3,3 0 0,1 14,12A3,3 0 0,1 17,15V16H18V20M15,15V16H13V15A1,1 0 0,1 14,14A1,1 0 0,1 15,15Z"/></svg><span style="margin-left: 13px;">Privacy Policy</span></a></li>
            </ul>
        </nav>        
    </div>

    <div class="page">
        <div id="page_top" class="section-body top_dark">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fi-list"></i></a>
                        <h1 class="page-title" style="color: rgb(255, 255, 255);">World News</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-body mt-3">
            <div class="container-fluid">    
                <div class="row clearfix">
                    <div class="col-12 col-sm-12">
                        <div class="">
                            <h4><span class="label label-default">Civic Freedom Tracker</span></h4>
                            <div>

                                <!-- Search form -->
                                <form class="form-inline d-flex md-form form-sm mt-0 mb-4 col-md-4 col-sm-12" style="float: right;">
                                    <i class="fi-magnifying-glass" style="font-size: large;" aria-hidden="true"></i>
                                    <input class="filter form-control form-control-sm ml-3 w-75" type="text" placeholder="Search By Country"
                                aria-label="Search" id="searchinput">
                                </form>

                                {{#each news}}

                                    <div class="card mb-4 border-secondary" style="box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);" data-string="{{this.country}} {{this.type}} {{this.issue}}">
                                        <div class="card-header news-header col-md-12">
                                            <h4 class="card-title col-md-6 col-sm-6">{{this.country}}</h4>
                                            <h4 class="card-subtitle col-md-6 col-sm-6">{{this.date}}</h4>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{this.title}}</h5>
                                            <input type="hidden" value="{{description}}">
                                        </div>
                                        <div class="card-footer news-footer">
                                            <h6 class="card-subtitle" style="float: left;">{{this.type}}</h6>
                                            <h6 class="card-subtitle" style="float: right;">{{this.issue}}</h6><br>
                                            <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter-{{@index}}">Read Full Description</a>
                                        </div>
                                    </div>

                                    {{!-- modal --}}
                                    <div class="modal fade" id="exampleModalCenter-{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <h5 class="modal-title col-md-12 col-sm-12" id="exampleModalLongTitle"> {{this.title}}</h5>
                                                </div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>  
                                            <div class="modal-body">
                                                {{this.description}}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Back to top button -->
        <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket" ><i></i></a>
        
        <div class="section-body">
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <a href="https://www.instagram.com/_abhay_sardhara_/" target="_blank"><i class="fi-social-instagram" style="font-size: 35px;" title="Instagram"></i></a>&nbsp;&nbsp;
                            <a href="https://www.facebook.com/abhay.sardhara.52" target="_blank"><i class="fi-social-facebook" style="font-size: 35px;" title="Facebook"></i></a>&nbsp;&nbsp;
                            <a href="https://github.com/Abhaysardhara" target="_blank"><i class="fi-social-github" style="font-size: 35px;" title="Github"></i></a>&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/abhaysardhara7675/" target="_blank"><i class="fi-social-linkedin" style="font-size: 35px;" title="Linkein"></i></a>&nbsp;&nbsp;
                            <a href="mailto:abhays7675@gmail.com"><i class="fi-mail" style="font-size: 35px;" title="Email"></i></a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p style="float: right; font-weight: bolder; font-size: 15px;">MADE BY ABHAY SARDHARA</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<script>

    $(".filter").on("keyup", function() {
        var input = $(this).val().toUpperCase();

        $(".card").each(function() {
            if ($(this).data("string").toUpperCase().indexOf(input) < 0) {
                $(this).hide();
            } 
            else {
                $(this).show();
            }
        })
    });

    var btn = $('#button');

    $(window).scroll(function() {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
    });

    function init(){for(var t=document.getElementsByTagName("img"),e=0;e<t.length;e++)t[e].getAttribute("data-src")&&t[e].setAttribute("src",t[e].getAttribute("data-src"))}$(document).ready(function(){$.fn.dataTable.isDataTable("#example")?table=$("#example").DataTable():table=$("#example").DataTable({lengthMenu:[[10,50,100,-1],[10,50,100,"All"]],paging:!0,bSort:!1,info:!0,oLanguage:{sSearch:"Country: "}}),$("body").bind("cut copy paste",function(t){t.preventDefault(),alert("Sorry we can't let you copy in this page :)")}),$("body").on("contextmenu",function(t){return alert("Sorry we can't let you copy or inspect in this page :)"),!1})}),$(function(){setInterval(()=>{var t=moment();$("#date").html(t.format("dddd")+" - "+t.format("DD MMMM, YYYY")),$("#time").html(t.format("hh:mm:ss A"))},100)}),window.onload=init;
</script>

<script src="assets/bundles/lib.vendor.bundle.js"></script>
<script src="assets/bundles/fullcalendar.bundle.js"></script>
<script src="assets/js/core.js"></script>
<script src="assets/js/page/calendar.js"></script>
</body>

</html>